<div class="off-canvas-container" style="background-color: #f2f2f2;">
 
    <div class="off-canvas-content">
        <div id="layout">
            <nav class="navbar ng-scope">
                <div class="container">
                    <div class="navbar-header">
                        <div class="hydrated">
                            <button class="navbar-toggle d-lg-none" type="button   ">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="glyphicon glyphicon-md m-0 air-icon-view-as-informative text-muted vertical-align-middle"  ></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="/"  >
                           JobCis
                        </a>
            
                        <div></div>
                    </div>
            
                    <div class="navbar-collapse d-none d-lg-flex" id="skinny-nav">
                        <div class="navbar-text navbar-right">
                            <div  class="">
                                <span class="d-none d-sm-inline">Already have an account?</span>
                                <strong class="d-inline-block d-sm-none p-md-right">Create account</strong>
                                <a routerLink="login"   >
                                    Log In
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <main id="main"   class="container p-0-top-bottom-xs p-lg-top-bottom m-0-left-right-xs auth-growable-flex">
                <div class="p-0-left-right-xs m-0-left-right-xs col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-growable-flex">
                    <div>
                        <div   class="ng-cloak alert alert-danger hidden">
                            <span aria-hidden="true" class="glyphicon air-icon-exclamation"></span>
                            <div><span>Due to technical difficulties we are unable to process your request. Please try again later</span></div>
                        </div>
                    </div>
                    <div></div>
                    <div id="main-auth-card" class="air-card p-0-left-right-xs p-0-bottom m-0-top-bottom-xs auth-growable-flex">
                        <form name="login"  class="form auth-growable-flex text-center auth-growable-flex"  > 
                            <div class="col-md-10 col-md-offset-1 auth-growable-flex">
                                <div  >
                                     <h1   class="text-center ">
                                        <span  >Find proven talent, fast</span>
                                    </h1>
                                </div>
                                <div >
                                    <button data-v-0c7bde74="" data-v-130bb487="" id="username_google_submit" type="button" class="up-btn mr-0 gsso-button full-width mb-0 up-btn-primary">Sign In with Google</button>
                                    
                                </div> 
                                <div data-v-733406b2="" data-v-44072c38="" class="line-heading p-sm-bottom m-sm-top-bottom text-muted">or</div>
                    
                                <div   class="up-form-group mb-20" data-v-44072c38="">
                                    <div   class="up-input-group">
                                        <div  class="up-input-group-prepend">
                                            <div data-v-9baadd78="" class="up-icon" data-v-17f0650e="">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" aria-hidden="true" role="img">
                                                    <path d="M7 8c-3.314 0-6 1.85-6 3.297v2.027c0 .373.358.676.8.676h10.4c.442 0 .8-.303.8-.676v-2.027C13 9.85 10.314 8 7 8zm3-5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <input  data-v-9baadd78=""  data-v-17f0650e=""  id="username_username"  
                                         name="login[username]"
                                            placeholder="Work email address"
                                            aria-label="Username or Email"
                                            inputmode="username email"
                                            aria-describedby="input-username"
                                            autocomplete="username"
                                            type="text"
                                            class="up-input"
                                        />
                                    </div> 
                                </div>
   
                                <button  id="username_password_continue" type="button"
                                 class="up-btn mr-0 full-width mb-0 up-btn-primary" data-v-44072c38="">Sign Up with Email</button>
                            
                                <div data-v-733406b2="" data-v-44072c38="" class="d-none-mobile-app">
                                    <div data-v-733406b2="" data-v-44072c38="" class="pb-30 d-sm-block d-md-none"></div>
                                    <div data-v-733406b2="" data-v-44072c38="" class="mb-30 pb-30 pt-10 d-md-block d-sm-none"></div>
                                </div>
                 </div>
 
                        </form>
                    </div>
                </div>
            </main>
        </div>

        <footer class="footer-navbar-wrapper footer-skinny" >
            <div class="container">
                <div   class="hydrated"></div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="copyright">
                            © 2015 - 2020 Upwork® Global Inc.
                        </p>
                        <a href="#" >Terms of Service</a>
                        <br />
                        <a href="#"   >Privacy Policy</a>
                        <br />
                        <a href="#"  >Accessibility</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div> 