<section  class="hero-short-section vs-bg-white py-30">
    <div class="container-visitor text-center py-10 my-md-5">
        <h1   class="display-3 text-canela mb-0 pb-10 pb-md-5">
            Hire the best independent professionals<br class="d-none d-md-block" />
            and specialized agencies
        </h1>
        <div class="d-flex d-md-block mt-20">
            <a   class="cta-group__btn btn btn-primary mb-0 mr-10" href="#"   > Get Started </a>
            <a   class="cta-group__btn btn btn-default mb-0 ml-5 mr-0"  href="#" >
                Get a Demo
            </a>
        </div>
    </div>
</section>
<section  class="cat-tiles-section vs-bg-gray-lightest">
    <div class="container-visitor mb-5 mb-md-30 pb-10 pb-xl-20">
        <h2  class="text-center mt-30 mb-20 mb-md-30">Browse top talent by category</h2>
        <div class="mb-30 text-center">Find the right independent professional or specialized agency for your hiring needs on the leading online talent solution.</div>
        <div class="row">
            <div data-qa="cat-tile" class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-dev.7cd9c1a602e3.svg" alt="Web, Mobile &amp; Software Dev" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-dev-small.97a0fd0f0f57.svg" alt="Web, Mobile &amp; Software Dev" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Web, Mobile &amp; Software Dev</h3>
                        <h4 data-qa="title-small" class="my-10 d-none d-md-block">Web, Mobile &amp; Software Dev</h4>
                        <a routerLink="/desktop-applications-developers"  class="d-block mb-10"  > Desktop Software Development </a>
                        <a  routerLink="game-developers " data-qa="link" class="d-block mb-10"   >  Ecommerce Development</a>
                        <a href="#"   class="d-block mb-10"   > Game Development </a>
                        <a href="#"  class="d-block mb-10"  >  Mobile Development </a>
                        <a  href="#"  class="d-block mb-10"  >  Product Management </a>
                        <a href="#"  class="d-block mb-10"   >  QA &amp; Testing </a>
                        <a href="#"  class="d-block mb-10"  >  Scripts &amp; Utilities </a>
                        <a href="#"  class="d-block mb-10" >   Web Development </a>
                        <a href="#"  class="d-block mb-10"  >  Web &amp; Mobile Design  </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-it.d4037bbf8954.svg" alt="IT &amp; Networking" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-it-small.3dcf24642408.svg" alt="IT &amp; Networking" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">IT &amp; Networking</h3>
                        <h4  class="my-10 d-none d-md-block">IT &amp; Networking</h4>
                        <a href="#"  class="d-block mb-10"  >  Database Administration </a>
                        <a href="#"   class="d-block mb-10"  >  ERP / CRM Software </a>
                        <a href="#"  class="d-block mb-10"   > Information Security  </a>
                        <a href="#"  class="d-block mb-10"   >  Network &amp; System Administration </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-data.1f508fe7c79b.svg" alt="Data Science &amp; Analytics" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-data-small.359e93c3a5e2.svg" alt="Data Science &amp; Analytics" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Data Science &amp; Analytics</h3>
                        <h4   class="my-10 d-none d-md-block">Data Science &amp; Analytics</h4>
                        <a href="#"  class="d-block mb-10"   >  A/B Testing </a>
                        <a href="#" class="d-block mb-10"  >  Data Visualization </a>
                        <a  href="#"   class="d-block mb-10"   >  Data Extraction / ETL </a>
                        <a  href="#"   class="d-block mb-10"   > Data Mining &amp; Management </a>
                        <a  href="#"   class="d-block mb-10"   >   Machine Learning </a>
                        <a  href="#"   class="d-block mb-10"   > Quantitative Analysis </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-engineering.51146f376a11.svg" alt="Engineering &amp; Architecture" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-engineering-small.71d5d03342af.svg" alt="Engineering &amp; Architecture" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Engineering &amp; Architecture</h3>
                        <h4   class="my-10 d-none d-md-block">Engineering &amp; Architecture</h4>
                        <a  href="#"   class="d-block mb-10"   > 3D Modeling &amp; CAD </a>
                        <a  href="#"   class="d-block mb-10"   > Architecture  </a>
                        <a  href="#"   class="d-block mb-10"   > Chemical Engineering  </a>
                        <a  href="#"   class="d-block mb-10"   >  Civil &amp; Structural Engineering </a>
                        <a  href="#"   class="d-block mb-10"   >  Contract Manufacturing </a>
                        <a  href="#"   class="d-block mb-10"   > Electrical Engineering  </a>
                        <a  href="#"   class="d-block mb-10"   >  Interior Design  </a>
                        <a  href="#"   class="d-block mb-10"   > Mechanical Engineering </a>
                        <a  href="#"   class="d-block mb-10"   > Product Design </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-design.5cebc71fd11d.svg" alt="Design &amp; Creative" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-design-small.5163be0e6ede.svg" alt="Design &amp; Creative" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Design &amp; Creative</h3>
                        <h4  lass="my-10 d-none d-md-block">Design &amp; Creative</h4>
                        <a href="#"   class="d-block mb-10"  >  Animation  </a>
                        <a  href="#"   class="d-block mb-10"   >  Art &amp; Illustration </a>
                        <a  href="#"   class="d-block mb-10"   > Audio Production </a>
                        <a  href="#"   class="d-block mb-10"   >  Brand Identity &amp; Strategy  </a>
                        <a  href="#"   class="d-block mb-10"   > Graphics &amp; Design </a>
                        <a  href="#"   class="d-block mb-10"   >  Logo Design &amp; Branding </a>
                        <a  href="#"   class="d-block mb-10"   > Motion Graphics  </a>
                        <a  href="#"   class="d-block mb-10"   > Photography  </a>
                        <a  href="#"   class="d-block mb-10"   >  Presentations </a>
                        <a  href="#"   class="d-block mb-10"   > Video Production </a>
                        <a  href="#"   class="d-block mb-10"   > Voice Talent </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-writing.91467b6cd089.svg" alt="Writing" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-writing-small.c8487b7b929f.svg" alt="Writing" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Writing</h3>
                        <h4   class="my-10 d-none d-md-block">Writing</h4>
                        <a  href="#"   class="d-block mb-10"   > Academic Writing &amp; Research </a>
                        <a href="#" class="d-block mb-10" >  Article &amp; Blog Writing </a>
                        <a href="#" class="d-block mb-10" >  Copywriting  </a>
                        <a  href="#"   class="d-block mb-10"   > Creative Writing </a>
                        <a  href="#"   class="d-block mb-10"   >  Editing &amp; Proofreading </a>
                        <a  href="#"   class="d-block mb-10"   >  Grant Writing </a>
                        <a  href="#"   class="d-block mb-10"   > Resumes &amp; Cover Letters  </a>
                        <a  href="#"   class="d-block mb-10"   >  Technical Writing </a>
                        <a  href="#"   class="d-block mb-10"   > Web Content </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-translation.1e98ae0d724d.svg" alt="Translation" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-translation-small.e473cae00a0d.svg" alt="Translation" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Translation</h3>
                        <h4 class="my-10 d-none d-md-block">Translation</h4>
                        <a href="#" class="d-block mb-10"  > General Translation </a>
                        <a  href="#"   class="d-block mb-10"   > Legal Translation </a>
                        <a  href="#"   class="d-block mb-10"   >  Medical Translation </a>
                        <a  href="#"   class="d-block mb-10"   >  Technical Translation  </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-legal.7af44621e061.svg" alt="Legal" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-legal-small.02d597764f36.svg" alt="Legal" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Legal</h3>
                        <h4  class="my-10 d-none d-md-block">Legal</h4>
                        <a  href="#"   class="d-block mb-10"   > Contract Law </a>
                        <a  href="#"   class="d-block mb-10"   > Corporate Law </a>
                        <a  href="#"   class="d-block mb-10"   > Criminal Law </a>
                        <a  href="#"   class="d-block mb-10"   > Family Law </a>
                        <a  href="#"   class="d-block mb-10"   >  Intellectual Property Law </a>
                        <a  href="#"   class="d-block mb-10"   >  Paralegal Services  </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-admin.29add75d0dea.svg" alt="Admin Support" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-admin-small.557f405dd3ff.svg" alt="Admin Support" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Admin Support</h3>
                        <h4   class="my-10 d-none d-md-block">Admin Support</h4>
                        <a  href="#"   class="d-block mb-10"   >  Data Entry  </a>
                        <a  href="#"   class="d-block mb-10"   >  Personal / Virtual Assistant </a>
                        <a  href="#"   class="d-block mb-10"   > Project Management </a>
                        <a  href="#"   class="d-block mb-10"   >  Transcription  </a>
                        <a  href="#"   class="d-block mb-10"   >  Web Research  </a>
                    </div>
                </div>
            </div>
            <div  class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-cs.eba8eedaa1f6.svg" alt="Customer Service" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-cs-small.965f22df91dd.svg" alt="Customer Service" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Customer Service</h3>
                        <h4   class="my-10 d-none d-md-block">Customer Service</h4>
                        <a  href="#"   class="d-block mb-10"   > Customer Service </a>
                        <a  href="#"   class="d-block mb-10"   >  Technical Support  </a>
                    </div>
                </div>
            </div>
            <div  class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-sales.89a36e4692a7.svg" alt="Sales &amp; Marketing" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-sales-small.b07d264d422b.svg" alt="Sales &amp; Marketing" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Sales &amp; Marketing</h3>
                        <h4   class="my-10 d-none d-md-block">Sales &amp; Marketing</h4>
                        <a  href="#"   class="d-block mb-10"   > Display Advertising </a>
                        <a  href="#"   class="d-block mb-10"   > Email &amp; Marketing Automation </a>
                        <a  href="#"   class="d-block mb-10"   > Lead Generation </a>
                        <a  href="#"   class="d-block mb-10"   >  Market &amp; Customer Research  </a>
                        <a  href="#"   class="d-block mb-10"   >  Marketing Strategy </a>
                        <a  href="#"   class="d-block mb-10"   > Public Relations  </a>
                        <a  href="#"   class="d-block mb-10"   > SEM - Search Engine Marketing </a>
                        <a  href="#"   class="d-block mb-10"   > SEO - Search Engine Optimization </a>
                        <a  href="#"   class="d-block mb-10"   > SMM - Social Media Marketing
                        </a>
                        <a  href="#"   class="d-block mb-10"   > Telemarketing &amp; Telesales  </a>
                    </div>
                </div>
            </div>
            <div   class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="air-card vs-height-100 m-0 p-0">
                    <img class="vs-width-100 d-none d-md-block" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-accounting.852c324ea55f.svg" alt="Accounting &amp; Consulting" data-qa="img" />
                    <img class="vs-width-100 d-md-none" src="https://assets.static-upwork.com/assets/Adquiro/65ab4ee/wp/images/cat-tiles-accounting-small.a4b4626a76c9.svg" alt="Accounting &amp; Consulting" data-qa="img-mobile" />
                    <div class="px-20 py-10 py-md-20">
                        <h3  class="my-10 d-md-none">Accounting &amp; Consulting</h3>
                        <h4   class="my-10 d-none d-md-block">Accounting &amp; Consulting</h4>
                        <a  href="#"   class="d-block mb-10"   >  Accounting </a>
                        <a  href="#"   class="d-block mb-10"   >  Consulting </a>
                        <a  href="#"   class="d-block mb-10"   >  Human Resources </a>
                        <a  href="#"   class="d-block mb-10"   >  Management Consulting </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="v4-linear-tiles-grid-section hire-fl-tiles">
    <div class="px-0 container-visitor pt-0 pb-30 pt-md-30">
        <div class="linear-tiles-wrapper">
            <h2 class="p-30 mb-0 bottom-gray-light-line">Top 10 Trending Independent Professionals</h2>
            <div class="profiles-container"   >
                <div  class="p-md-top pb-20 p-md-left-right vs-width-100 bottom-gray-light-line v4-linear-tile" style="position: relative;" >
                    <div class="row tile-id-block">
                        <div class="image-wrapper text-center">
                            <div class="mb-10 avatar-container">
                                <img  src="https://www.upwork.com/profile-portraits/c1YLg50jY7PZa3omRH88MgLSdVk-08aCCkrQFk5YAkhQy9xWgVXXbWGhgwcGeTBFNY"
                                    class="avatar avatar-md m-0 ls-is-cached lazyloaded" > 
                            </div>
                            <div class="hourly-rate-wrapper d-block d-md-none nowrap"  ><strong>$50</strong><small>/hr</small></div>
                        </div>
                        <button  class="close-button btn btn-default btn-circle d-none to-show"  >
                            <span class="glyphicon air-icon-close"  ></span>
                        </button>
                        <div class="pl-5 col-xs-8 col-sm-9 pr-0">
                            <div>
                                <div>
                                    <a   href="#"  class="d-inline-block fl-name mb-5"  >
                                        <small   class="truncation-no-expand"> Agus R. </small>
                                    </a>
                                </div>
                                <p  class="m-sm-bottom tile-title vs-full-word-cut-text">Print Design Expert, Web/UI Designer</p>
                            </div>
                            <div class="async-vs-reg-form-placeholder"></div>
                            <div class="width-animation animate-desktop">
                                <div class="row pb-10">
                                    <div class="col-lg-2 col-md-3 d-none d-md-block nowrap" ><strong>$50</strong><small>/hr</small></div>
                                    <div  class="col-lg-6 col-md-5 top-rated-container nowrap" 
                                    >
                                        <span   class="badge badge-top-rated"><span  class="glyphicon air-icon-top-rated"></span> 100% JOB SUCCESS </span> &nbsp;
                                        <small><span class="vs-color-gray"> (101 jobs) </span></small>
                                    </div>
                                    <div class="col-md-4 pr-0 address-container">
                                        <small><span class="truncation-no-expand vs-color-gray"> Indonesia </span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsable-block-mobile d-md-none">
                        <div class="bottom-gray-light-line pb-10 position-absolute to-hide"></div>
                        <div class="pb-20"></div>
                        <a href="#"
                            class="btn btn-primary d-none to-show mb-20 mr-0" 
                        >
                            Sign up to contact <span>Agus</span>
                        </a>
                    </div>
                    <div class="skills-container d-flex vs-flex-wrap mt-10 desktop-padding-left width-animation animate-desktop" data-qa="skills-container">
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Print Design </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Web Design </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Adobe Photoshop </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Adobe Illustrator </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Adobe InDesign </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Corporate Brand Identity </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Graphic Design </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Display Ads </span>
                    </div>
                    <div class="desktop-padding-left width-animation animate-desktop">
                        <h3 class="display-1 mt-20 d-none to-show"  >Overview</h3>
                        <div class="description-wrapper mb-10 mt-10 pt-5"  >
                            <div  class="see-more-container text-limit m-0 p-0" style="--max-height: 60px;">
                                <div class="text-wrapper">
                                    <p class="m-0 p-0 text-content">
                                        Want to find an experienced graphic designer that knows how to create a professional graphic that sells? Try me...! :)<br />
                                        <br />
                                        I’m a creative, reliable and detailed graphic designer who can work independently without too much detailed instructions. My professional and reliable attitude has earn me a lot of successful long
                                        term relationships with many clients from all over the world.<br />
                                        <br />
                                        I believe in form follows function. I look at every design project as a process in solving a problem. I consider whether a header is clear enough to read, is it call enough attention than the rest of
                                        the texts? Or whether a paragraph is eligible, is it clashing...
                                    </p>
                                    <div class="to-hide mt-10 mb-10">
                                        <a href="#"
                                        >
                                            Sign up to read more
                                        </a>
                                    </div>
                                </div>
                                <a class="d-block vs-cursor-pointer see-more horizontal-cover"   ></a>
                            </div>
                            <div class="d-none to-show mt-10 mb-10">
                                <a 
                                    href="#"
                                >
                                    Sign up to read more
                                </a>
                            </div>
                        </div>
                        <div class="mt-20 collapsable-block-mobile-1">
                            <div class="d-md-inline-block d-block to-hide">
                                <button 
                                    class="open-button btn btn-primary btn-sm vs-width-100 d-block mb-0" 
                                >
                                    Expand Profile
                                </button>
                            </div>
                            <div class="expanded-profile-part d-none to-show">
                                <div  >
                                    <div class="async-feedback-placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vs-cloak d-none">
                        <span  class="glyphicon air-icon-loading vertical-align-middle"></span>
                    </div>
                </div>
                <div class="p-md-top pb-20 p-md-left-right vs-width-100 bottom-gray-light-line v4-linear-tile"   style="position: relative;"
                >
                    <div class="row tile-id-block">
                        <div class="image-wrapper text-center">
                            <div class="mb-10 avatar-container">
                                <img src="https://www.upwork.com/profile-portraits/c1us0pOAiNAlkSuLgG8Dc2MmhYKdMqMziNh3Vm2WddJEUh95_fPqHw6cp2ykMQ-qo-"
                                    class="avatar avatar-md m-0 ls-is-cached lazyloaded" >
                            </div>
                            <div class="hourly-rate-wrapper d-block d-md-none nowrap" ><strong>$70</strong><small>/hr</small></div>
                        </div>
                        <button   class="close-button btn btn-default btn-circle d-none to-show" >
                            <span class="glyphicon air-icon-close" ></span>
                        </button>
                        <div class="pl-5 col-xs-8 col-sm-9 pr-0">
                            <div>
                                <div>
                                    <a   href="#" class="d-inline-block fl-name mb-5"  >
                                        <small   class="truncation-no-expand"> Muhammad A. </small>
                                    </a>
                                </div>
                                <p  class="m-sm-bottom tile-title vs-full-word-cut-text">Full-Stack Developer, Laravel, Opencart</p>
                            </div>
                            <div class="async-vs-reg-form-placeholder"></div>
                            <div class="width-animation animate-desktop">
                                <div class="row pb-10">
                                    <div class="col-lg-2 col-md-3 d-none d-md-block nowrap" ><strong>$70</strong><small>/hr</small></div>
                                    <div class="col-lg-6 col-md-5 top-rated-container nowrap"  
                                    >
                                        <span  class="badge badge-top-rated"><span  class="glyphicon air-icon-top-rated"></span> 100% JOB SUCCESS </span> &nbsp;
                                        <small><span class="vs-color-gray"> (248 jobs) </span></small>
                                    </div>
                                    <div class="col-md-4 pr-0 address-container">
                                        <small><span class="truncation-no-expand vs-color-gray"> Pakistan </span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsable-block-mobile d-md-none">
                        <div class="bottom-gray-light-line pb-10 position-absolute to-hide"></div>
                        <div class="pb-20"></div>
                        <a   href="#"  class="btn btn-primary d-none to-show mb-20 mr-0" 
                        >
                            Sign up to contact <span>Muhammad</span>
                        </a>
                    </div>
                    <div class="skills-container d-flex vs-flex-wrap mt-10 desktop-padding-left width-animation animate-desktop" data-qa="skills-container">
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> OpenCart </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> WordPress </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Laravel </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> CodeIgniter </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Shopify </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Lightspeed Retail </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Ionic Framework </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> API </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> eCommerce Website </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Web Scraper </span>
                    </div>
                    <div class="desktop-padding-left width-animation animate-desktop">
                        <h3 class="display-1 mt-20 d-none to-show"  >Overview</h3>
                        <div class="description-wrapper mb-10 mt-10 pt-5"  >
                            <div  class="see-more-container text-limit m-0 p-0" style="--max-height: 60px;">
                                <div class="text-wrapper">
                                    <p class="m-0 p-0 text-content">
                                        I'm a Full Stack Developer with extensive experience in building high-quality sites.<br />
                                        <br />
                                        My vast experience building e-commerce websites with Opencart, Shopify, and Wordpress to writing applications with Laravel and Codeigniter. I have been featured on Upwork Top Rated Developers page.
                                        <br />
                                        <br />
                                        I worked with my clients very closely, understand their requirements and provide the best services. Looking to do more here.
                                    </p>
                                </div>
                                <a class="d-block vs-cursor-pointer see-more horizontal-cover"  ></a>
                            </div>
                        </div>
                        <div class="mt-20 collapsable-block-mobile-1">
                            <div class="d-md-inline-block d-block to-hide">
                                <button   class="open-button btn btn-primary btn-sm vs-width-100 d-block mb-0"  >  Expand Profile</button>
                            </div>
                            <div class="expanded-profile-part d-none to-show">
                                <div  >
                                    <div class="async-feedback-placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vs-cloak d-none">
                        <span  class="glyphicon air-icon-loading vertical-align-middle"></span>
                    </div>
                </div>
                <div
                    class="p-md-top pb-20 p-md-left-right vs-width-100 bottom-gray-light-line v4-linear-tile" 
                    style="position: relative;"
                >
                    <div class="row tile-id-block">
                        <div class="image-wrapper text-center">
                            <div class="mb-10 avatar-container">
                                <img src="https://www.upwork.com/profile-portraits/c1mfTBEGFtLKK2T2Q83wTsMJozXaMkMVYvgLmjnn7Psob3tOWwZhnAtA5aPXwr23vp"
                                    class="avatar avatar-md m-0 ls-is-cached lazyloaded" 
                                />
                             </div>
                            <div class="hourly-rate-wrapper d-block d-md-none nowrap"  ><strong>$44</strong><small>/hr</small></div>
                        </div>
                        <button   class="close-button btn btn-default btn-circle d-none to-show" >
                            <span class="glyphicon air-icon-close" ></span>
                        </button>
                        <div class="pl-5 col-xs-8 col-sm-9 pr-0">
                            <div>
                                <div>
                                    <a  href="#"   class="d-inline-block fl-name mb-5" >
                                        <small   class="truncation-no-expand"> Kathrina T. </small>
                                    </a>
                                </div>
                                <p  class="m-sm-bottom tile-title vs-full-word-cut-text">Graphic Designer</p>
                            </div>
                            <div class="async-vs-reg-form-placeholder"></div>
                            <div class="width-animation animate-desktop">
                                <div class="row pb-10">
                                    <div class="col-lg-2 col-md-3 d-none d-md-block nowrap" ><strong>$44</strong><small>/hr</small></div>
                                    <div  class="col-lg-6 col-md-5 top-rated-container nowrap"  >
                                        <span  class="badge badge-top-rated">
                                            <span  class="glyphicon air-icon-top-rated"></span> 100% JOB SUCCESS </span> &nbsp;
                                        <small><span class="vs-color-gray"> (206 jobs) </span></small>
                                    </div>
                                    <div class="col-md-4 pr-0 address-container">
                                        <small><span class="truncation-no-expand vs-color-gray" > Canada </span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsable-block-mobile d-md-none">
                        <div class="bottom-gray-light-line pb-10 position-absolute to-hide"></div>
                        <div class="pb-20"></div>
                        <a  href="#"  class="btn btn-primary d-none to-show mb-20 mr-0"   >
                            Sign up to contact <span>Kathrina</span>
                        </a>
                    </div>
                    <div class="skills-container d-flex vs-flex-wrap mt-10 desktop-padding-left width-animation animate-desktop"  >
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Adobe Photoshop </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Adobe Illustrator </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Adobe InDesign </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Graphic Design </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Print Design </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Print Advertising </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Print Layout Design </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Web Design </span>
                    </div>
                    <div class="desktop-padding-left width-animation animate-desktop">
                        <h3 class="display-1 mt-20 d-none to-show"  >Overview</h3>
                        <div class="description-wrapper mb-10 mt-10 pt-5"  >
                            <div  class="see-more-container text-limit m-0 p-0" style="--max-height: 60px;">
                                <div class="text-wrapper">
                                    <p class="m-0 p-0 text-content">
                                        I am a Graphic Designer with over 8 years of professional experience in the industry. I am very proficient in Adobe Illustrator, Photoshop, and InDesign. I have a lot of background in both Print and
                                        Web design. <br />
                                        <br />
                                        I have gained a Top-Rated status here on Upwork because of my successful collaborations with a lot of different clients. I am very passionate about what I do and my clients can attest to my
                                        professionalism, proven by the countless positive feedback I have garnered.<br />
                                        <br />
                                    </p>
                                </div>
                                <a class="d-block vs-cursor-pointer see-more horizontal-cover"   ></a>
                            </div>
                        </div>
                        <div class="mt-20 collapsable-block-mobile-1">
                            <div class="d-md-inline-block d-block to-hide">
                                <button 
                                    class="open-button btn btn-primary btn-sm vs-width-100 d-block mb-0" 
                                >
                                    Expand Profile
                                </button>
                            </div>
                            <div class="expanded-profile-part d-none to-show">
                                <div  > <div class="async-feedback-placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vs-cloak d-none">
                        <span  class="glyphicon air-icon-loading vertical-align-middle"></span>
                    </div>
                </div>
                <div class="p-md-top pb-20 p-md-left-right vs-width-100 bottom-gray-light-line v4-linear-tile" style="position: relative;">
                    <div class="row tile-id-block">
                        <div class="image-wrapper text-center">
                            <div class="mb-10 avatar-container">
                                <img  src="https://www.upwork.com/profile-portraits/c1ttzMThfGesOUjzlD5r9cVUCqaTwlcIJfbJUn7sCnbQXYuM31JUDrypvaGyQn34zz"
                                    class="avatar avatar-md m-0 ls-is-cached lazyloaded" 
                                />
                                   </div>
                            <div class="hourly-rate-wrapper d-block d-md-none nowrap" ><strong>$75</strong><small>/hr</small></div>
                        </div>
                        <button   class="close-button btn btn-default btn-circle d-none to-show" data-qa="close-button" event-registered="true">
                            <span class="glyphicon air-icon-close" ></span>
                        </button>
                        <div class="pl-5 col-xs-8 col-sm-9 pr-0">
                            <div>
                                <div>
                                    <a href="#"  class="d-inline-block fl-name mb-5"  >
                                        <small  class="truncation-no-expand"> Joseph D. </small>
                                    </a>
                                </div>
                                <p  class="m-sm-bottom tile-title vs-full-word-cut-text">Divi Theme, WooCommerce &amp; Zen Cart website design and development</p>
                            </div>
                            <div class="async-vs-reg-form-placeholder"></div>
                            <div class="width-animation animate-desktop">
                                <div class="row pb-10">
                                    <div class="col-lg-2 col-md-3 d-none d-md-block nowrap" ><strong>$75</strong><small>/hr</small></div>
                                    <div class="col-lg-6 col-md-5 top-rated-container nowrap"  >
                                        <span  class="badge badge-top-rated"><span  class="glyphicon air-icon-top-rated"></span> 100% JOB SUCCESS </span> &nbsp;
                                        <small><span class="vs-color-gray"> (363 jobs) </span></small>
                                    </div>
                                    <div class="col-md-4 pr-0 address-container">
                                        <small><span class="truncation-no-expand vs-color-gray" > United States </span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsable-block-mobile d-md-none">
                        <div class="bottom-gray-light-line pb-10 position-absolute to-hide"></div>
                        <div class="pb-20"></div>
                        <a   href="#"  class="btn btn-primary d-none to-show mb-20 mr-0" > Sign up to contact <span>Joseph</span></a>
                    </div>
                    <div class="skills-container d-flex vs-flex-wrap mt-10 desktop-padding-left width-animation animate-desktop"  >
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Zen Cart </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Web Design </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> PHP </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> MySQL </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> WordPress </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Adobe Photoshop </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Payment Gateway Integration </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> Paypal Integration </span>
                        <span class="vs-full-word-cut-text o-tag-skill m-xs-right m-xs-bottom vs-o-tag-no-hover d-inline-block vs-color-text"> WooCommerce </span>
                    </div>
                    <div class="desktop-padding-left width-animation animate-desktop">
                        <h3 class="display-1 mt-20 d-none to-show" >Overview</h3>
                        <div class="description-wrapper mb-10 mt-10 pt-5"  >
                            <div  class="see-more-container text-limit m-0 p-0" style="--max-height: 60px;">
                                <div class="text-wrapper">
                                    <p class="m-0 p-0 text-content">
                                        I'm honored to be in the Top 5% of Web Developers on UpWork and have over 10,000 hours and hundreds of websites built over the past 15 years.<br />
                                        <br />
                                        Trust and good communication is key. Finding a website expert you can trust is hard to find. With me you can look forward to an HONEST relationship, and a professional site that will help your
                                        business grow.<br />
                                        <br />
                                        If you love your business as much as I love mine, we're off to a good start!<br />
                                        <br />
                                        Located in the USA.<br />
                                        <br />
                                        ---<br />
                                        "At present, we are up 50% over bookings last year. Many thanks to Joe." - Alan Firpo<br />
                                        ---<br />
                                        "You really get what you pay for with Joe. He does more than simply build a website." - Mark...
                                    </p>
                                    <div class="to-hide mt-10 mb-10">
                                        <a   href="#"  >  Sign up to read more </a>
                                    </div>
                                </div>
                                <a class="d-block vs-cursor-pointer see-more horizontal-cover"  ></a>
                            </div>
                            <div class="d-none to-show mt-10 mb-10">
                                <a   href="#"  >  Sign up to read more </a>
                            </div>
                        </div>
                        <div class="mt-20 collapsable-block-mobile-1">
                            <div class="d-md-inline-block d-block to-hide">
                                <button  class="open-button btn btn-primary btn-sm vs-width-100 d-block mb-0" 
                                >
                                    Expand Profile
                                </button>
                            </div>
                            <div class="expanded-profile-part d-none to-show">
                                <div  >
                                    <div class="async-feedback-placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vs-cloak d-none">
                        <span  class="glyphicon air-icon-loading vertical-align-middle"></span>
                    </div>
                </div> 
 
                <div class="vs-bg-white linear-cta-tile py-30 text-center">
                    <p   class="h3 mb-20"  >
                        <strong>
                            Want to browse more<br class="d-md-none" />
                            independent professionals?
                        </strong>
                    </p>
                    <a  href="#"  class="d-none d-md-inline-block btn-sm btn btn-primary mb-0"  >  Sign Up </a>
                    <a href="#" class="d-md-none btn btn-primary mb-0 d-block vs-width-100"  > Sign Up </a>
                </div>
            </div>
        </div>
        <div class="vs-color-gray-granite m-md-top text-right vs-width-100 m-sm-right p-xs-right"  >
            <time ><small>Last updated: May 12, 2020</small></time>
        </div>
    </div>
    <div class="d-none additional-filter-search-data" ></div>
</section>
