<div class="off-canvas-container" style="background-color: #f2f2f2;">
 
                <div class="off-canvas-content">
                    <div id="layout">
                        <nav class="navbar">
                            <div class="container">
                                <div class="navbar-header d-flex justify-content-center">
                                    <a class="navbar-brand" href="#"  >Upwork</a>
                                </div>
                            </div>
                        </nav> 
    
                        <main id="main"   class="container p-0-top-bottom-xs p-lg-top-bottom m-0-left-right-xs auth-growable-flex">
                            <div class="p-0-left-right-xs m-0-left-right-xs col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-growable-flex">
                                <div>
                                    <div   class="ng-cloak alert alert-danger hidden">
                                        <span aria-hidden="true" class="glyphicon air-icon-exclamation"></span>
                                        <div><span>Due to technical difficulties we are unable to process your request. Please try again later</span></div>
                                    </div>
                                </div>
                                <div></div>
                                <div id="main-auth-card" class="air-card p-0-left-right-xs p-0-bottom m-0-top-bottom-xs auth-growable-flex">
                                    <form name="login"  class="form auth-growable-flex text-center auth-growable-flex" 
                                    >
                                        <button data-v-44072c38="" type="submit" class="d-none"></button>
                                        <div data-v-904d5b16="" data-v-44072c38="" class="col-md-10 col-md-offset-1 auth-growable-flex">
                                            <div data-v-904d5b16="" data-v-44072c38="">
                                                <div data-v-904d5b16="" data-v-44072c38="" class="m-xs-top d-none d-sm-block"></div>
                                                <div data-v-904d5b16="" data-v-44072c38="" class="m-sm-top d-block d-sm-none"></div>
                                                <div data-v-5a87def9="" data-v-733406b2="" class="d-none d-block-mobile-app login-mobile-logo mb-20 pb-5" data-v-44072c38="">
                                                    <svg data-v-5a87def9="" id="artwork_outlined_"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.24 100">
                                                        <title data-v-5a87def9="">Upwork</title>
                                                        <path data-v-5a87def9="" d="M218,23.1a27,27,0,1,0,27,27A27,27,0,0,0,218,23.1ZM218,66a15.9,15.9,0,1,1,15.9-15.9A15.9,15.9,0,0,1,218,66Z" style="fill: rgb(73, 73, 73);"></path>
                                                        <path data-v-5a87def9="" d="M277.93,36.07a14,14,0,0,0-14,14V75.65H252.39v-51H264v7.87A18.48,18.48,0,0,1,279,24.62h3.54V36.07Z" style="fill: rgb(73, 73, 73);"></path>
                                                        <polygon
                                                            data-v-5a87def9=""
                                                            points="160.59 24.62 169.34 59.94 178.98 24.62 190.47 24.62 175.65 75.65 164.15 75.65 155.07 40.13 146 75.65 134.5 75.65 119.67 24.62 131.17 24.62 140.81 59.94 149.56 24.62 160.59 24.62"
                                                            style="fill: rgb(73, 73, 73);"
                                                        ></polygon>
                                                        <path
                                                            data-v-5a87def9=""
                                                            d="M316.75,48.15a27,27,0,0,0,13.79-23.54H319A15.44,15.44,0,0,1,303.54,40H302V0H290.41V75.65H302v-24h1.38a4.58,4.58,0,0,1,3.27,1.66l16.43,22.38h13.87Z"
                                                            style="fill: rgb(73, 73, 73);"
                                                        ></path>
                                                        <path
                                                            data-v-5a87def9=""
                                                            d="M92.16,23.1c-12.61,0-22.39,8.19-26.36,21.68A110.86,110.86,0,0,1,52.45,15.52H38.87V50.84a12.64,12.64,0,0,1-25.29,0V15.52H0V50.84a26.22,26.22,0,1,0,52.45,0V44.93a83.62,83.62,0,0,0,9.8,16L53.94,100H67.83l6-28.35a33.47,33.47,0,0,0,18.3,5.52,27,27,0,0,0,0-54.07Zm0,40.42c-5.48,0-10.61-2.32-15.28-6.09L78,52.08l0-.21c1-5.67,4.21-15.19,14.1-15.19a13.42,13.42,0,1,1,0,26.83Z"
                                                            style="fill: rgb(111, 218, 68);"
                                                        ></path>
                                                        <path
                                                            data-v-5a87def9=""
                                                            d="M334.57,28v0a3.33,3.33,0,1,1,6.67,0v0a3.33,3.33,0,1,1-6.67,0Zm6.29,0v0a3,3,0,1,0-5.9,0v0a3,3,0,1,0,5.9,0ZM336.6,26.2h1.53c.75,0,1.3.36,1.3,1.07a1,1,0,0,1-.79,1l.9,1.28h-.79l-.8-1.17h-.71V29.6h-.65Zm1.48,1.69c.44,0,.69-.23.69-.56s-.25-.56-.69-.56h-.82v1.11Z"
                                                            style="fill: rgb(73, 73, 73);"
                                                        ></path>
                                                    </svg>
                                                </div>
                                                <h1 data-v-904d5b16="" data-v-44072c38="" class="text-center m-0"><span data-v-733406b2="" data-v-44072c38="">Log in and get to work</span></h1>
                                            </div>
                                            <div data-v-733406b2="" data-v-44072c38="" class="mb-10 pb-10 d-block d-sm-none"></div>
                                            <div data-v-733406b2="" data-v-44072c38="" class="mb-30 d-none d-sm-block"></div>
                                            <div data-v-17f0650e="" data-v-9baadd78="" data-v-733406b2="" class="up-form-group mb-20" data-v-44072c38="">
                                                <!---->
                                                <div data-v-9baadd78="" data-v-17f0650e="" class="up-input-group">
                                                    <div data-v-9baadd78="" data-v-17f0650e="" class="up-input-group-prepend">
                                                        <div data-v-9baadd78="" class="up-icon" data-v-17f0650e="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" aria-hidden="true" role="img">
                                                                <path d="M7 8c-3.314 0-6 1.85-6 3.297v2.027c0 .373.358.676.8.676h10.4c.442 0 .8-.303.8-.676v-2.027C13 9.85 10.314 8 7 8zm3-5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <input  data-v-9baadd78=""  data-v-17f0650e=""  id="username_username"   name="login[username]"
                                                        placeholder="Username or Email"
                                                        aria-label="Username or Email"
                                                        inputmode="username email"
                                                        aria-describedby="input-username"
                                                        autocomplete="username"
                                                        type="text"
                                                        class="up-input"
                                                    />
                                                </div>
                                                <!---->
                                                <!---->
                                            </div>
                                            <div data-v-733406b2="" data-v-44072c38="" class="d-none">
                                                <input data-v-733406b2="" data-v-44072c38="" aria-describedby="input-password" type="password" id="login_password" name="password" autocomplete="current-password" />
                                            </div>
                                            <button data-v-0c7bde74="" data-v-733406b2="" id="username_password_continue" type="button" class="up-btn mr-0 full-width mb-0 up-btn-primary" data-v-44072c38="">Continue</button>
                                            <!-- <p data-v-733406b2="" data-v-44072c38="" class="btn-separator my-30"><span data-v-733406b2="" data-v-44072c38="">or</span></p> -->
                                            <div data-v-733406b2="" data-v-44072c38="" class="line-heading p-sm-bottom m-sm-top-bottom text-muted">or</div>
                                            <div data-v-130bb487="" data-v-733406b2="" data-v-44072c38="">
                                                <button data-v-0c7bde74="" data-v-130bb487="" id="username_google_submit" type="button" class="up-btn mr-0 gsso-button full-width mb-0 up-btn-primary">Sign In with Google</button>
                                                <!---->
                                            </div>
                                            <!---->
                                            <div data-v-733406b2="" data-v-44072c38="" class="d-none-mobile-app">
                                                <div data-v-733406b2="" data-v-44072c38="" class="pb-30 d-sm-block d-md-none"></div>
                                                <div data-v-733406b2="" data-v-44072c38="" class="mb-30 pb-30 pt-10 d-md-block d-sm-none"></div>
                                            </div>
                                            <span data-v-904d5b16="" data-v-44072c38=""></span> <span data-v-904d5b16="" data-v-44072c38=""></span>
                                            <!---->
                                  
                                        </div>
 
                                        <footer   class="up-card-footer py-0 text-center d-none-mobile-app">
                                            <div  >
                                                <div  class="col-md-10 col-md-offset-1">
                                                    <div   class="p-md-top-bottom m-md-bottom">
                                                        <div data-v-733406b2="" data-v-44072c38="" class="line-heading p-sm-bottom m-sm-top-bottom text-muted">New to Upwork?</div>
                                                        <a data-v-733406b2="" data-v-44072c38="" routerLink="signup" class="btn btn-default btn-block-sm width-sm m-sm-top m-0-bottom m-0-left-right">
                                                            Sign Up
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </main>
                    </div>
    
                    <footer class="footer-navbar-wrapper footer-skinny" >
                        <div class="container">
                            <div   class="hydrated"></div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p class="copyright">
                                        © 2015 - 2020 Upwork® Global Inc.
                                    </p>
                                    <a href="#" >Terms of Service</a>
                                    <br />
                                    <a href="#"   >Privacy Policy</a>
                                    <br />
                                    <a href="#"  >Accessibility</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div> 