@media (min-width: 576px){
    .modal-dialog {
        max-width: 100%;
        margin: 0 ;
    }
}
@media (min-width: 768px){
    .modal-content {
        height: auto;
        min-height: 100vh;
    }
}
 